# Copyright 2024 The Sigstore Authors
# SPDX-License-Identifier: Apache-2.0

name: ci

on:
  pull_request:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    if: github.repository == 'sigstore/sigstore-devops-tools'

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: './go.mod'
          check-latest: true

      - name: build get-oncall
        run: go build -o get-oncall ./cmd/get_oncall
