# Copyright 2024 The Sigstore Authors
# SPDX-License-Identifier: Apache-2.0

name: ci

on:
  pull_request:

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    if: github.repository == 'sigstore/sigstore-devops-tools'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: './go.mod'
          check-latest: true

      - name: build get-oncall
        run: go build -o get-oncall ./cmd/get_oncall
