# Copyright 2024 The Sigstore Authors
# SPDX-License-Identifier: Apache-2.0

name: terraform-lint-validate

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  lint-and-validate:
    name: terraform-lint-validate
    runs-on: ubuntu-latest
    permissions:
      contents: read

    if: github.repository == 'sigstore/sigstore-devops-tools'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # this points back to this file in case there are any changes in the 'go install' command below
          cache-dependency-path: '.github/workflows/terraform.yml'
          go-version: 'stable'

      - name: Detect version of Terraform needed
        id: version
        run: |
            go install github.com/hashicorp/terraform-config-inspect@latest
            echo "terraform-version=$(terraform-config-inspect --json ${GITHUB_WORKSPACE}/iac | jq -r .required_core[0])" >> "$GITHUB_OUTPUT"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.version.outputs.terraform-version }}
          terraform_wrapper: false

      - working-directory: ./iac
        run: terraform fmt -check

      - run: cp $GITHUB_WORKSPACE/.github/testdata/backend_override.tf $GITHUB_WORKSPACE/iac

      - working-directory: ./iac
        run: |
          terraform init
          terraform validate
